body {
  font-family: "Poppins", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
  margin: 0;
  padding: 0;
}

.head {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav {
  display: none;
}
.menu-item {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  gap: 10px;
  padding: 4px 10px;
  position: relative;
}
.items {
  position: absolute;
  top: -16px;
  right: 4px;
  background-color: red;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
}

.head h2 {
  margin: 0;
  color: #333;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  font-size: 16px;
}

.navbar ul li a:hover {
  color: #0056b3;
}

.line {
  width: 70%;
  height: 4px;
  background: rgb(245, 245, 245);
  background: rgb(245, 245, 245);
  background: linear-gradient(
    90deg,
    rgba(245, 245, 245, 0) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(245, 245, 245, 0) 100%
  );
  margin: auto;
}
.start {
  position: relative;
  width: 582px;
  height: 133px;
  bottom: -18px;
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}
.lorem {
  position: relative;
  width: 505px;
  height: 60.9px;
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.btn {
  position: static;
  width: 116px;
  height: 24px;
  display: flex;
  margin: 0px 8px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 10px;
  text-decoration: none;
  text-align: left;
}
.btn a {
  text-decoration: none;
}
/* media quary */
@media (max-width: 576px) {
  .mobile-nav {
    display: block;
  }
  .navbar {
    display: none;
  }
  .head {
    padding: 4px 10px;
  }
}
